html {
    height: 100%;
}




html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: RobotoCondensed;
  background: url('../assets/background.jpg') no-repeat right 50%; border-right: 4px solid transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


body {
  height:  98%;
  /* Text Formatting */
  text-align:  center;
  text-shadow: 0 0 5px #8f94a7;
  font-size: 25px;
  font-weight: bold;
}


.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 75px 50px auto 10%;
}

.body-grid {
  padding: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns:  1fr 1fr 1fr;
  column-gap: 50px;
  align-content: stretch;
}

.bodygrid-item {
  display: inline;
  text-align: center;
  background-color:  #efeff580;
  border-radius: 10px;
  margin: 0;
  transition:  0.3s;
}

.bodygrid-item:hover {
  background-color:  #efeff599;
}

.left-div-items {
  padding: 50px;
  text-align: start;
}

.right-dive-items {
  margin-left: 3em;
}


/* Progress Bars*/
.progress {
  margin: 10% auto;
  padding: 2px;
  width: 100%;
  max-width: 80%;
  border: 3px solid #08242c;
  height: 1.2em;
}

.progress .progress_bar {
  color: white;
  text-decoration: border="1px";
  height: 100%;
  background-color: #08242c;
}

/* Progress Bars Animations */
.enp {animation: fill-bar_enp 2s forwards;}
.khp {animation: fill-bar_khp 2s forwards;}
.cop {animation: fill-bar_cop 2s forwards;}

@keyframes fill-bar_enp {
  from {width: 0%;}
  to {width: 90%;}
}

@keyframes fill-bar_khp {
  from {width: 0%;}
  to {width: 80%;}
}
@keyframes fill-bar_cop {
  from {width: 0%;}
  to {width: 60%;}
}


/* ------------------------------------------------------------------------ */

/*Footer*/

.footer-grid {
  width:  100%;
  background-color: #efeff580;
  font-size: 20px;
  display: grid;
  grid-auto-flow: rows;
  grid-template-rows:  auto auto;
  border-radius: 10px;
  transition:  0.3s;
}

.footer-grid:hover {
  background-color:  #efeff599;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  height: 1.5em;
  margin: 0 0.5em;
  opacity: 0.6;
}

.icons:hover, .email:hover {
  opacity: 1;
}


.email {
  opacity: 0.6;
  text-decoration: none;
  color:  black;
}

/* Mobile Responsive*/
@media only screen and (max-width: 1200px) {
  .body-grid {
    grid-auto-flow: rows;
    grid-template-columns: none; 
    grid-template-rows:  auto auto auto;
    row-gap: 10px;
  }
  .bodygrid-item {
    width:  100%;
  }
}



/* Fonts */
@font-face {
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed-Regular.ttf');
}